# Benchmarking Suite
# Copyright 2014-2017 Engineering Ingegneria Informatica S.p.A.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
#
# Developed in the ARTIST EU project (www.artist-project.eu) and in the
# CloudPerfect EU project (https://cloudperfect.eu/)


[provider]

# the Benchmarking Suite class that implement the access to this provider
class = benchsuite.stdlib.provider.libcloud.LibcloudComputeProvider

# custom human-readable name for the provider. Used only for displaying purposes
name = ote-testbed

# Libcloud specific
# the driver that Libcloud should use to access the provider
driver = openstack

# mandatory. Access credentials
access_id = admin
secret_key = xxxxx

# mandatory for Openstack
auth_url = http://cloudpcntlr:5000/



# If not specified RegionOne is used
region = RegionOne

# if not specified 2.0_password and 3.x_password will be attempted
auth_version = 3.x_password

# if not specified, a new security group "benchsuite_sg" will be created (if
# not exist)
security_group = mysg


#optional. Automatically selected if multiple exist
network = mynet


tenant = admin

benchsuite.openstack.no_floating_ip = true


#
# NEW VM CONNECTION
# after a new VM is created, a connection test is executed to check that everything
# is ok and to execute the post-creation scripts.
#
#
new_vm.connection_retry_period = 30
new_vm.connection_retry_times = 10

[ubuntu_large]
image = base_ubuntu_14.04
size = m1.large
key_name = ggiammat-key
key_path = /home/ggiammat/credentials/filab-vicenza/ggiammat-key.pem
vm_user = ubuntu
platform = ubuntu
post_create_script =
    sudo hostname localhost

[centos_medium]
image = base_centos_7
size = m1.medium
key_name = ggiammat-key
key_path = /home/ggiammat/credentials/filab-vicenza/ggiammat-key.pem
vm_user = centos
platform = centos
post_create_script =
    sudo sed -i 's/requiretty/!requiretty/' /etc/sudoers


[ubuntu_small]
image = base_ubuntu_14.04
size = m1.small
key_name = ggiammat-key
key_path = /home/ggiammat/credentials/filab-vicenza/ggiammat-key.pem
vm_user = ubuntu
platform = ubuntu
post_create_script =
    sudo hostname localhost
